* {
  --color-primary: rgba(25, 110, 236, 1);
  --color-red: rgba(235, 50, 35, 1);
  --color-yellow: rgba(255, 153, 0, 1);
  --color-grey-icon: rgba(171, 171, 171, 1);
  --color-grey-menu: rgba(103, 102, 102, 1);
  --color-grey-border: rgba(148, 148, 148, 1);
  --color-grey-text: rgba(118, 118, 118, 1);
  --color-black-text: rgba(30, 30, 30, 1);
}
