* {
  // titles
  --col1: 18px;
  --col2: 18px;
  --col3: calc(20% - 36px);
  --col4: 10%;
  --col5: 10%;
  --col6: 10%;
  --col7: 10%;
  --col8: 10%;
  --col9: 10%;
  --col10: 10%;
  --col11: 10%;
}
