<div class="wrap" @pageAnimation>
  <h2>Все тайтлы</h2>
  <input type="text" class="with-icon" placeholder="Поиск...">
  <div class="list">
    <ng-container *ngIf="titles; else inProgress">
      <tv-titles-item *ngFor="let title of titles" [title]="title" @pageAnimation></tv-titles-item>
    </ng-container>
    <ng-container *ngIf="titles?.length == 0">
      <p>Список пуст</p>
    </ng-container>
  </div>
</div>

<ng-template #inProgress>
  <div class="in-progress-wrap">
    <tv-in-progress></tv-in-progress>
  </div>
</ng-template>
