<div class="wrap">
  <div *ngFor="let item of menu" class="item">
    <div [ngClass]="{'parent': true}" [routerLink]="[item.route]" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}" (click)="toggleItem(item)">
      <img src="/assets/svg/caret-forward.svg" [ngClass]="{'arrow': true, 'invisible': item.children.length == 0}">
      <img src="/assets/svg/{{item.icon}}" class="icon">
      <span>{{item.title}}</span>
    </div>
    <div *ngIf="item.id == activeItemId" class="children" @collapseAnimation>
      <div *ngFor="let child of item.children" class="children-item" [routerLink]="[child.route]"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        {{child.title}}
      </div>
    </div>
  </div>
</div>
