.wrap {

  .item {

    .parent {
      display: flex;
      align-items: center;
      margin-top: 10px;
      cursor: pointer;
      outline: none;

      tv-icon {
        width: 18px;
        transition: .5s;

        &.invisible {
          opacity: 0;
        }

        &.arrow {
          width: 10px;
        }
      }

      span {
        color: var(--color-grey-menu);
        margin-left: 30px;
        font-size: 16px;
        transition: .5s;
      }

      &.active {
        tv-icon {
          &.arrow {
            transform: rotate(90deg);
          }
        }

        span {
          color: var(--color-primary);
        }
      }
    }

    .children {
      overflow: hidden;

      &-item {
        outline: none;
        color: var(--color-grey-menu);
        margin-left: 68px;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
        transition: .4s;

        &.active {
          color: var(--color-primary);
        }
      }
    }
  }
}
